<a href="https://colab.research.google.com/github/bhagye/phyton-new/blob/module-1/Module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Accept input from user and store it in variable and print the value
a=int(input("enter the value"))
print(a)

enter the value10
10

In [ ]:
## Use of print statements and use of (.format )for printing different data types
tickets=10
movie="RRR"
cost=2000
d="i want {} tickets for {} movie at {} rupees"
print(d.format(tickets,movie,cost))

i want 10 tickets for RRR movie at 2000 rupees

In [ ]:
  ## Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output
  a=int(input("enter the value"))
  b=int(input("enter the value"))
  add=a+b
  print(add)
  multiply=a*b
  print(multiply)
  divide=a/b
  print(divide)
  subract=a-b
  print(subract)
  rem=a%b
  print(rem)

enter the value15
enter the value5
20
75
3.0
10
0

In [ ]:
## Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output on floating point input
a=float(input("enter the value"))
b=float(input("enter the value"))
add=a+b
print(add)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
subract=a-b
print(subract)
rem=a%b
print(rem)

enter the value15.25
enter the value5.06
20.31
77.16499999999999
3.013833992094862
10.190000000000001
0.07000000000000117

In [ ]:
## Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc, pow, sqrt etc.
import math 
my_int=4.5467
print(math.ceil(my_int))
print(math.floor(my_int))
print(math.fabs(my_int))
print(math.fmod(4.5467, 5.2165))
print(math.trunc(my_int))
print(math.pow(4.5467, 5.2165))
print(math.sqrt(my_int))

5
4
4.5467
4.5467
4
2696.9490793468362
2.132299228532431

In [ ]:
## Building a mathematical calculator that can perform operations according to user input. Use decision making statement
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))
        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))
        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))
        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 55
Enter second number: 25
55.0 - 25.0 = 30.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 3
Enter first number: 25
Enter second number: 5
25.0 * 5.0 = 125.0
Let's do next calculation? (yes/no): no

In [ ]:
## Accepting 5 different subject marks from user and displaying the grade of the student.
a=int(input("enter the marks of subject1 "))
b=int(input("enter the marks of subject2 "))
c=int(input("enter the marks of subject3 "))
d=int(input("enter the marks of subject4 "))
e=int(input("enter the marks of subject5 "))
avg=(a+b+c+d+e)/5
if avg>90:
  print("O grade")
elif 80<avg<90:
  print("A grade")
elif 70<avg<80:
  print("B grade")
elif 60<avg<70:
  print("C grade")
elif 50<avg<60:
  print("Pass")
else:
  print("Fail")

enter the marks of subject1 50
enter the marks of subject2 90
enter the marks of subject3 40
enter the marks of subject4 60
enter the marks of subject5 80
C grade

In [ ]:
## Conversion of one unit to another (such as hours to minutes, miles to km and etc)
a=float(input("enter hours"))
print("minutes are= ",a*60)
b=float(input("enter miles"))
print("km are= ",b*1.6)

enter hours5
minutes are=  300.0
enter miles5
km are=  8.0

In [ ]:
## Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.
n=int(input("enter range "))
c=0
for i in range(1,n+1):
 if i%2==0:
   c+=1
   print(i)

print("even count is ",c)

d=0
for i in range(1,n+1):
  if i%2!=0: 
    d+=1
    print(i)

print("odd count is ",d)

enter range 10
2
4
6
8
10
even count is  5
1
3
5
7
9
odd count is  5

In [ ]:
#Compute the factorial of a given number.
n=int(input("enter a number "))
fac=1
for i in range(1,n+1):
  fac=fac*i

print(fac)

enter a number 5
120

In [ ]:
## Compute GCD of two given 
a=int(input("enter a number"))
b=int(input("enter a number"))
k=a if a<b else b
while True:
    if a%k==0 and b%k==0:
     break
    k -=1
print(k)

enter a number5
enter a number6
1

In [ ]:
## Check whether the given input is palindrome
def isPalindrome(s):
	return s==s[::-1]

s=input("enter the value")
ans=isPalindrome(s)

if ans:
	print("Yes")
else:
	print("No")

enter the value1020310\
No

In [ ]:
## Check whether the given input is strong number
sum=0   
num=int(input("Enter a number:"))  
temp=num  
while(num): 
    i=1  
    fact=1  
    rem=num%10  
    while(i<=rem):  
        fact=fact*i
        i=i+1  
    sum=sum+fact  
    num=num//10  
if(sum==temp):  
    print("Given number is a strong number")  
else:  
    print("Given number is not a strong number")

Enter a number:52123
Given number is not a strong number

In [ ]:
##  Check whether the given input is perfect number
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 6
The number is a Perfect number!

In [ ]:
## Compute compound interest using loop for a certain principal and interest amount
n=int(input("Enter the principle amount:"))
rate=int(input("Enter the rate:"))
years=int(input("Enter the number of years:"))
for i in range(years):
    n=n+((n*rate)/100)
print(n)

Enter the principle amount:100000
Enter the rate:2
Enter the number of years:3
106120.8